{:index 0, :time 6704000, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 1, :time 26962500, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key does not exist"]}
{:index 2, :time 286114300, :type :invoke, :process 3, :f :cas, :value [0 [0 1]]}
{:index 3, :time 303705600, :type :fail, :process 3, :f :cas, :value [0 [0 1]], :error [:key-does-not-exist "key does not exist"]}
{:index 4, :time 600226700, :type :invoke, :process 3, :f :cas, :value [0 [2 0]]}
{:index 5, :time 610785500, :type :fail, :process 3, :f :cas, :value [0 [2 0]], :error [:key-does-not-exist "key does not exist"]}
{:index 6, :time 849971800, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 7, :time 861163500, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key does not exist"]}
{:index 8, :time 861282700, :type :invoke, :process 4, :f :cas, :value [0 [3 1]]}
{:index 9, :time 867836000, :type :fail, :process 4, :f :cas, :value [0 [3 1]], :error [:key-does-not-exist "key does not exist"]}
{:index 10, :time 1145578000, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 11, :time 1158088500, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key does not exist"]}
{:index 12, :time 1458919800, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 13, :time 1471843800, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key does not exist"]}
{:index 14, :time 1817743700, :type :invoke, :process 3, :f :write, :value [0 2]}
{:index 15, :time 1828874000, :type :ok, :process 3, :f :write, :value [0 2]}
{:index 16, :time 2020355300, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 17, :time 2033266700, :type :fail, :process 1, :f :read, :value [0 nil], :error [:key-does-not-exist "key does not exist"]}
{:index 18, :time 2411848000, :type :invoke, :process 3, :f :cas, :value [0 [4 4]]}
{:index 19, :time 2419984900, :type :fail, :process 3, :f :cas, :value [0 [4 4]], :error [:precondition-failed "precondition failed"]}
{:index 20, :time 2818621100, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 21, :time 2830731900, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 22, :time 3083598300, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 23, :time 3092567000, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 24, :time 3239493800, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 25, :time 3248244900, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 26, :time 3600211200, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 27, :time 3610349200, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 28, :time 3958171400, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 29, :time 3968821700, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 30, :time 4115476100, :type :invoke, :process 3, :f :write, :value [0 1]}
{:index 31, :time 4125617700, :type :ok, :process 3, :f :write, :value [0 1]}
{:index 32, :time 4459054700, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 33, :time 4468832800, :type :fail, :process 2, :f :read, :value [0 nil], :error [:key-does-not-exist "key does not exist"]}
{:index 34, :time 4771445400, :type :invoke, :process 3, :f :write, :value [0 1]}
{:index 35, :time 4782098400, :type :ok, :process 3, :f :write, :value [0 1]}
{:index 36, :time 4801088100, :type :invoke, :process 4, :f :cas, :value [0 [2 3]]}
{:index 37, :time 4810296200, :type :fail, :process 4, :f :cas, :value [0 [2 3]], :error [:key-does-not-exist "key does not exist"]}
{:index 38, :time 5192326300, :type :invoke, :process 5, :f :write, :value [0 1]}
{:index 39, :time 5200746900, :type :ok, :process 5, :f :write, :value [0 1]}
{:index 40, :time 5286264400, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 41, :time 5296412500, :type :ok, :process 0, :f :read, :value [0 1]}
{:index 42, :time 5505862700, :type :invoke, :process 3, :f :cas, :value [0 [0 4]]}
{:index 43, :time 5514580400, :type :fail, :process 3, :f :cas, :value [0 [0 4]], :error [:precondition-failed "precondition failed"]}
{:index 44, :time 5724114600, :type :invoke, :process 3, :f :cas, :value [0 [0 0]]}
{:index 45, :time 5734955000, :type :fail, :process 3, :f :cas, :value [0 [0 0]], :error [:precondition-failed "precondition failed"]}
{:index 46, :time 5927347900, :type :invoke, :process 3, :f :cas, :value [0 [3 0]]}
{:index 47, :time 5939512500, :type :fail, :process 3, :f :cas, :value [0 [3 0]], :error [:precondition-failed "precondition failed"]}
{:index 48, :time 6192741300, :type :invoke, :process 3, :f :write, :value [0 4]}
{:index 49, :time 6200332300, :type :ok, :process 3, :f :write, :value [0 4]}
{:index 50, :time 6224038300, :type :invoke, :process 4, :f :cas, :value [0 [1 2]]}
{:index 51, :time 6229518000, :type :fail, :process 4, :f :cas, :value [0 [1 2]], :error [:key-does-not-exist "key does not exist"]}
{:index 52, :time 6536750700, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 53, :time 6546619500, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 54, :time 6911226000, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 55, :time 6914516100, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 56, :time 6957666000, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 57, :time 6961620300, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 58, :time 7349177900, :type :invoke, :process 3, :f :cas, :value [0 [2 0]]}
{:index 59, :time 7357843500, :type :fail, :process 3, :f :cas, :value [0 [2 0]], :error [:precondition-failed "precondition failed"]}
{:index 60, :time 7551640300, :type :invoke, :process 3, :f :cas, :value [0 [3 3]]}
{:index 61, :time 7562271000, :type :fail, :process 3, :f :cas, :value [0 [3 3]], :error [:precondition-failed "precondition failed"]}
{:index 62, :time 7927275200, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 63, :time 7938080400, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 64, :time 7959351900, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 65, :time 7970234100, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 66, :time 8240215300, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 67, :time 8249571000, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 68, :time 8584463000, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 69, :time 8594104200, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 70, :time 8943360600, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 71, :time 8955821800, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 72, :time 9302541400, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 73, :time 9309683700, :type :fail, :process 1, :f :read, :value [0 nil], :error [:key-does-not-exist "key does not exist"]}
{:index 74, :time 9520467200, :type :invoke, :process 3, :f :write, :value [0 3]}
{:index 75, :time 9532677700, :type :ok, :process 3, :f :write, :value [0 3]}
{:index 76, :time 9802117500, :type :invoke, :process 3, :f :cas, :value [0 [1 3]]}
{:index 77, :time 9810430600, :type :fail, :process 3, :f :cas, :value [0 [1 3]], :error [:precondition-failed "precondition failed"]}
{:index 78, :time 9864682200, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 79, :time 9875573300, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 80, :time 9911278600, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 81, :time 9920307200, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 82, :time 9941906900, :type :invoke, :process 3, :f :cas, :value [0 [2 2]]}
{:index 83, :time 9950989200, :type :fail, :process 3, :f :cas, :value [0 [2 2]], :error [:precondition-failed "precondition failed"]}
