{:index 0, :time 6804800, :type :info, :process :nemesis, :f :start-partition, :value :majority}
{:index 2, :time 17648000, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n1" #{"n2" "n0"}, "n2" #{"n1"}, "n0" #{"n1"}}]}
{:index 481, :time 17909466800, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 482, :time 17913040500, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 562, :time 20871139800, :type :info, :process :nemesis, :f :start-partition, :value :majorities-ring}
{:index 563, :time 20878807400, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n0" #{"n1"}, "n1" #{"n2"}, "n2" #{"n0"}}]}
{:index 586, :time 23026845200, :type :invoke, :process 76, :f :cas, :value [2 3]}
{:index 587, :time 23058239500, :type :invoke, :process 0, :f :read, :value nil}
{:index 589, :time 23153876100, :type :invoke, :process 17, :f :cas, :value [1 0]}
{:index 591, :time 23201029800, :type :invoke, :process 1, :f :read, :value nil}
{:index 593, :time 23328690500, :type :invoke, :process 2, :f :read, :value nil}
{:index 595, :time 23952728100, :type :invoke, :process 21, :f :write, :value 2}
{:index 596, :time 24048392200, :type :info, :process 76, :f :cas, :value [2 3], :error :net-timeout}
{:index 597, :time 24048650300, :type :invoke, :process 82, :f :write, :value 3}
{:index 598, :time 24063646600, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 599, :time 24143906700, :type :invoke, :process 0, :f :read, :value nil}
{:index 600, :time 24160126200, :type :info, :process 17, :f :cas, :value [1 0], :error :net-timeout}
{:index 601, :time 24208083700, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 602, :time 24255417400, :type :invoke, :process 23, :f :write, :value 4}
{:index 603, :time 24335619100, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 604, :time 24350906600, :type :invoke, :process 1, :f :read, :value nil}
{:index 605, :time 24398707800, :type :invoke, :process 2, :f :read, :value nil}
{:index 606, :time 24974290000, :type :info, :process 21, :f :write, :value 2, :error :net-timeout}
{:index 607, :time 24974429800, :type :invoke, :process 27, :f :cas, :value [0 4]}
{:index 608, :time 25068748700, :type :info, :process 82, :f :write, :value 3, :error :net-timeout}
{:index 609, :time 25068951700, :type :invoke, :process 88, :f :write, :value 3}
{:index 610, :time 25163419800, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 611, :time 25163528200, :type :invoke, :process 0, :f :read, :value nil}
{:index 612, :time 25275726900, :type :info, :process 23, :f :write, :value 4, :error :net-timeout}
{:index 613, :time 25275875800, :type :invoke, :process 29, :f :cas, :value [2 1]}
{:index 614, :time 25355841100, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 615, :time 25371007000, :type :invoke, :process 1, :f :read, :value nil}
{:index 616, :time 25420067600, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 617, :time 25450340400, :type :invoke, :process 2, :f :read, :value nil}
{:index 618, :time 25995962900, :type :info, :process 27, :f :cas, :value [0 4], :error :net-timeout}
{:index 619, :time 25996133000, :type :invoke, :process 33, :f :cas, :value [0 3]}
{:index 620, :time 26090005100, :type :info, :process 88, :f :write, :value 3, :error :net-timeout}
{:index 621, :time 26090153900, :type :invoke, :process 94, :f :cas, :value [1 4]}
{:index 622, :time 26169309800, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 623, :time 26200165600, :type :invoke, :process 0, :f :read, :value nil}
{:index 624, :time 26296910200, :type :info, :process 29, :f :cas, :value [2 1], :error :net-timeout}
{:index 625, :time 26297069000, :type :invoke, :process 35, :f :cas, :value [3 3]}
{:index 626, :time 26376785800, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 627, :time 26376956200, :type :invoke, :process 1, :f :read, :value nil}
{:index 628, :time 26472263400, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 629, :time 26519271800, :type :invoke, :process 2, :f :read, :value nil}
{:index 630, :time 27015809900, :type :info, :process 33, :f :cas, :value [0 3], :error :net-timeout}
{:index 631, :time 27015998000, :type :invoke, :process 39, :f :write, :value 1}
{:index 632, :time 27110928900, :type :info, :process 94, :f :cas, :value [1 4], :error :net-timeout}
{:index 633, :time 27111175300, :type :invoke, :process 100, :f :write, :value 3}
{:index 634, :time 27205544900, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 635, :time 27236756100, :type :invoke, :process 0, :f :read, :value nil}
{:index 636, :time 27317012500, :type :info, :process 35, :f :cas, :value [3 3], :error :net-timeout}
{:index 637, :time 27348937400, :type :invoke, :process 41, :f :cas, :value [2 4]}
{:index 638, :time 27397121800, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 639, :time 27462571500, :type :invoke, :process 1, :f :read, :value nil}
{:index 640, :time 27525359800, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 641, :time 27604217300, :type :invoke, :process 2, :f :read, :value nil}
{:index 642, :time 28036213200, :type :info, :process 39, :f :write, :value 1, :error :net-timeout}
{:index 643, :time 28036390300, :type :invoke, :process 45, :f :cas, :value [0 2]}
{:index 644, :time 28131848300, :type :info, :process 100, :f :write, :value 3, :error :net-timeout}
{:index 646, :time 28243090200, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 648, :time 28371477300, :type :info, :process 41, :f :cas, :value [2 4], :error :net-timeout}
{:index 650, :time 28483038400, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 652, :time 28610467100, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 654, :time 29056390600, :type :info, :process 45, :f :cas, :value [0 2], :error :net-timeout}
{:index 658, :time 29263781300, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 660, :time 29277556500, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 1086, :time 44805995500, :type :info, :process :nemesis, :f :start-partition, :value :minority-third}
{:index 1087, :time 44811729900, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n2" #{}, "n1" #{}, "n0" #{}}]}
{:index 1266, :time 51195776600, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 1267, :time 51199042300, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 1370, :time 55184210600, :type :info, :process :nemesis, :f :start-partition, :value :majority}
{:index 1371, :time 55192128000, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n2" #{"n1" "n0"}, "n1" #{"n2"}, "n0" #{"n2"}}]}
